// underscore in file name, denotes that it is partial file which means it is used for just import in other scss files

// colors
// $primary: #FE5F1E;   // old
// $primary: #a41efe;    // new
$primary: #ff3737;   // new final
// $primary-hover: #b23301;    // old
// $primary-hover: #480c71;    // new
$primary-hover: #f10c0c;    // new final
// $secondary: #F8F8F8;    
$secondary: #ede2e2;    // new final    
$pure: #fff;
$dark: #232323;
$gray: #ccc;

// transition
/* on applying this as:
transition: $smooth;
the effect will take 0.3 delay and will look smooth
// keeping transition same in whole website, gives good experience to user.
so keep it in a variable
*/ 
$smooth: all .3s ease-in-out;