@import './variables'; // import _variables.scss file
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body {
    font-family: 'Lato', sans-serif; // copy css rule from lato google font
    -webkit-font-smoothing: antialiased; // anti aliasing makes the font Smooth on level of pixel, as opposed to the subpixel. Switching from subpixel rendering to antialiasing for light text on dark backgrounds makes it look lighter.
    color: $dark;
}

// styling logo and logo title in navbar
nav:first-child div {
    display: flex;
}

#logo-title {
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-weight: bold;
    font-size: 22px;
}

// apply primary color to cart icon at top right in navbar
nav li:last-child a {
    background: $primary;

    &:hover {
        background: $primary-hover;
    }
}

// set hover effect on menus in navbar
nav li a {
    transition: $smooth;

    &:hover {
        color: $primary;
    }
}

// greyish tint in background of hero section
section.hero {
    background: $secondary;
}

// greyish tint to pizza size in single pizza card
.size {
    background: $secondary;
}

// style for add-to-cart btn in single pizza card
.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;

    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }

    &:focus {
        outline: none;
    }
}

// style for order now btn in hero section
.btn-primary {
    background: $primary;
    transition: $smooth;

    &:hover {
        background: $primary-hover;
    }
}

// greyish tint to background of cart page 
section.cart {
    background: $secondary;

    // inside cart section, give primary color to total price figure
    .amount {
        color: $primary;
    }
}

// greyish tint to background of login page
section.login {
    background: $secondary;
    // subtract 86px(height of navbar)
    min-height: calc(100vh - 86px);
}

// style dont have account btn on login page
.dont-have-account {
    color: $primary;
    transition: $smooth;

    &:hover {
        color: $primary-hover;
    }
}

// to style noty msgs
.noty_theme_mint {
    border-radius: 50px !important;
    padding-left: 8px !important;
}

// to give orange color to  order id in order section
a.link {
    color: $primary;
}

// to style single order page container at user side
section.status {
    background: $secondary;
    min-height: calc(100vh - 86px);
}

// give padding to container in single order page 
.status-box {
    padding: 60px 0 0;
}

// make position relative for spans where we need to show dots in single order page so that we can do position absolute in after pseudo selector
.status-box ul li span {
    position: relative;
    padding-left: 20px;
}

// to align container of status names with upper container in single order page
.status-box ul {
    margin-left: 84px;
}

// Dots in single order tracking page
.status-box ul li span:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    background: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 1px 10px $secondary;
}


// Icons of status names in single order page
.status-box ul li span:before {
    // line awesome library we are using for icons
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY((-50%));
    color: inherit;
}

// specify different icons to all 5 status names in single order page
.status-box ul li:nth-child(1) span:before {
    content: '\f46c';
}

.status-box ul li:nth-child(2) span:before {
    content: '\f560';
}

.status-box ul li:nth-child(3) span:before {
    content: '\f818';
}

.status-box ul li:nth-child(4) span:before {
    content: '\f0d1';
}

.status-box ul li:nth-child(5) span:before {
    content: '\f582';
}

// again specify position relative to give before pseudo selector absolute position below
.status-box ul li {
    position: relative;
}

// Lines
.status-box ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: $dark;
    margin-top: 10px;
}

// give box-shadow to Last dot to specify seperate styling
.status-box ul li:nth-child(5) span::after {
    box-shadow: 0 20px 1px 20px $secondary;
}


// line gray
// if class = step-completed for li in single order page, make line,dot and text gray
.status-box ul li.step-completed::before {
    background: $gray;
}

// dot gray
.status-box ul li.step-completed span:after {
    background: $gray;
}

// text gray
.status-box ul li.step-completed span {
    color: $gray;
}

// Current Status
// if class = current, make text, dot and icon color = primary(for highlighting current status of order in single order page)
.status-box ul li.current span {
    color: $primary;
}

.status-box ul li.current span::after {
    background: $primary;
}

// to style status updation time in single order page
.status-box ul li small {
    float: right;
    font-size: 14px;
    margin-top: 8px;
}

// when width reduces 1060px
@media(max-width: 1060px) {

    // reduce width to 90% of container of pizza home page
    .container {
        max-width: 90%;
    }

    // show scroll on small screen on table of customer order section and admin order section(all tables)
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

// on small screen size, reduce font of single order page(for status icons)
@media(max-width: 768px) {
    .status-box ul li span::before {
        font-size: 34px;
    }
}

// stripe css(from older documentation of stripe)
// to style stripe widget in cart.ejs
.StripeElement {
    box-sizing: border;
    height: 40px;
    width: 50%; // added manually
    margin-left: auto; // added manually
    padding: 10px 12px;
    border: 1px solid transparent;
    // border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}


// 404 page styling

/*======================
    404 page
=======================*/
.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
    margin-top: 3%;
}

.page_404 .container{
    margin: auto;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    // background: #39ac31;
    background: $primary;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}