@import './variables';  // import _variables.scss file
// import below files to use noty(to display msgs)
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body{
    font-family: 'Lato', sans-serif; // copy css rule from lato google font
    -webkit-font-smoothing: antialiased; // anti aliasing makes the font Smooth on level of pixel, as opposed to the subpixel. Switching from subpixel rendering to antialiasing for light text on dark backgrounds makes it look lighter.
    color: $dark;
}

// apply primary color to cart icon at top right in navbar
nav li:last-child a{
    background: $primary;
    &:hover{
        background: $primary-hover;
    }
}

// set hover effect on menus in navbar
nav li a{
    transition: $smooth;
    &:hover{
        color: $primary;
    }
}

// greyish tint in background of hero section
section.hero{
    background: $secondary;
}

// greyish tint to pizza size in single pizza card
.size{
    background: $secondary;
}

// style for add-to-cart btn in single pizza card
.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus{
        outline: none;
    }
}

// style for order now btn in hero section
.btn-primary{
    background: $primary;
    transition: $smooth;

    &:hover{
        background: $primary-hover;
    }
}

// greyish tint to background of cart page 
section.cart{
    background: $secondary;
    // inside cart section, give primary color to total price figure
    .amount{
        color: $primary;
    }
}

// greyish tint to background of login page
section.login{
    background: $secondary;
    // subtract 86px(height of navbar)
    min-height: calc(100vh - 86px);
}

// style dont have account btn on login page
.dont-have-account{
    color: $primary;
    transition: $smooth;
    &:hover{
        color: $primary-hover;
    }
}

// to style noty msgs
.noty_theme_mint{
    border-radius: 50px !important;
    padding-left: 8px !important;
}